.about {
  display: flex;
  position: relative;
  z-index: 6;
  min-height: 900px;
  padding: 64px 0 200px 0;
  /* overflow: hidden; */
}

.about::after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 48%;
  height: 96%;
  top: 56%;
  transform: translateY(-50%);
  left: 52%;
  background-image: url("../images/about/background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.about-content {
  width: 38%;
  min-height: 480px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.about-content_header {
  color: var(--black-color);
}

.about-content_header h5 {
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 8px;
}

.about-content_header h5::before {
  content: "";
  position: absolute;
  width: 40%;
  border-bottom: 2px solid var(--primary-color);
  top: 100%;
}

.about-content_header h2 {
  font-size: 3rem;
  font-weight: bold;
}

.about-content_introduce {
  padding: 32px 0;
  flex: 1;
  position: relative;
}

.about-content_introduce p {
  line-height: 28px;
}

.about-content_introduce a {
  position: absolute;
  bottom: 48px;
  display: inline-block;
  width: 160px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  background-color: var(--primary-color);
  transition: all 0.4s linear;
}

.about-content_introduce a:hover {
  background-color: var(--dark-blue-color);
  color: var(--primary-color);
}

.about-content_introduce a span {
  display: inline-block;
  text-transform: capitalize;
}

.about-event-container {
  flex: 1;
  position: relative;
  z-index: 1;
  margin-left: 100px;
  margin-right: 24px;
}

.about-event {
  box-shadow: 0px 0px 191px 0px rgb(0 0 0 / 6%);
  padding: 65px 70px 37px;
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: 52px;
}

.about-event_title {
  font-size: 2.25rem;
  font-weight: 700;
  padding-bottom: 8px;
}

.about-event_event-list {
}

.about-event_event {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
}

.about-event_event:not(:last-child) {
  border-bottom: 1px solid #cecece;
}

.about-event_event a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s linear;
  padding: 8px 0 4px;
}

.about-event_event a:hover {
  color: var(--primary-color);
}

.about-event_event-detail {
  display: inline-flex;
  align-items: center;
  color: #8a8a8a;
  font-size: 0.9rem;
}

.about-event_event .about-event_event-detail {
  margin-right: 24px;
}

.about-event_event-detail i {
  opacity: 0.7;
  color: var(--primary-color);
  display: inline-block;
  margin-right: 4px;
}

/* Responsive */

@media screen and (max-width: 992px) {
  .about .custom-container {
    flex-direction: column;
    padding-left: 48px;
    padding-right: 48px;
  }

  .about::after {
    overflow: hidden;
    width: 30%;
    height: 30%;
    top: 76%;
    left: 68%;
    transform: translateY(-50%);
  }

  .about-content {
    width: 100%;
  }

  .about-event-container {
    margin: 0 24px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .about-event {
    padding-left: 24px;
    padding-right: 24px;
  }

  .about-event-container {
    padding: 0;
    margin: 0;
  }

  .about::after {
    width: 52%;
    height: 30%;
    top: 68%;
    left: 48%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 576px) {
  .about-content_introduce {
    padding-bottom: 0;
  }

  .about-content_introduce a {
    margin-top: 48px;
    position: static;
  }

  .about::after {
    top: 76%;
  }
}
