.apply-part {
  position: relative;
  z-index: 7;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  transform: translateY(-30%);
}

.apply-part_item {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  flex: 1;
  padding: 48px 52px;
}

.apply-part_item:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.apply-part_item:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.apply-part_item h3 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 16px;
}

.apply-part_item p {
  padding-bottom: 48px;
}

.apply-part_item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 160px;
  padding: 0 32px;
  border: 1px solid var(--primary-color);
  color: var(--dark-blue-color);
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 4px;
  font-size: 1.1rem;
  transition: all 0.3s linear;
}

.apply-part_item a:hover {
  background-color: var(--dark-blue-color);
  color: var(--primary-color);
}

.apply-part_item:last-child {
  background-color: #092e56;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  .apply-part {
    max-width: 1080px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 992px) {
  .apply-part {
    margin-top: 48px;
    max-width: 960px;
    flex-direction: column;
  }
  .apply-part_item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }

  .apply-part_item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 0;
  }
}
