.header {
  position: relative;
  z-index: 20;
  margin-bottom: -4px;
}

/* Search modal */

.search-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(7, 41, 77, 0.5);
  opacity: 0;
  transition: all 0.5s linear;
}

.search-modal_close-icon {
  position: fixed;
  height: 40px;
  line-height: 40px;
  right: 50px;
  top: 20px;
  text-align: center;
  color: var(--white-color);
  font-size: 2.25rem;
  cursor: pointer;
}

.search-modal_search-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.search-modal_search-input {
  width: 100%;
  padding: 8px 48px 8px 20px;
  border-radius: 24px;
  outline: none;
  border: 1px solid #07294d;
}

.search-modal_search-icon {
  position: absolute;
  top: 50%;
  transform: translate(-180%, -50%);
}

/* Header top */

.header-top {
  font-size: 1rem;
  background-color: var(--dark-blue-color);
  color: var(--gray-color);
  padding: 16px 0;
  font-weight: 600;
}

.custom-container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.header-top ul {
  display: flex;
}

.header-contact {
  flex: 1;
}

.header-contact ul li:not(:last-child) {
  margin-right: 20px;
}

.header-top-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header-social {
  display: flex;
}

.header-social ul li {
  padding: 0 8px;
}

.header-social a:hover {
  color: var(--primary-color);
}

.header-login-register {
  color: var(--primary-color);
}

.header-login-register button {
  margin: 0 8px;
  transition: color 0.5s;
}

.header-login-register button:hover {
  color: var(--white-color);
}

/* Header Navigation */

.header-menu-mobile_icon-container,
.header-mobile-menu-container {
  display: none;
}

.header-navigation {
  height: 92px;
}

.header-navigation--fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  animation: header-navigation-fixed 1s linear;
  background-color: var(--white-color);
  box-shadow: 0px 0px 191px 0px rgb(0 0 0 / 6%);
}

@keyframes header-navigation-fixed {
  0% {
    top: -92px;
  }
  100% {
    top: 0;
  }
}

.header-navigation-container {
  align-items: center;
  padding: 0 16px;
}

.header-logo {
  width: 180px;
  height: 48px;
}

.header-menu-container {
  flex: 1;
}

.header-menu {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding-right: 20px;
}

.header-menu_item {
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  padding: 32px 16px;
}

.header-menu_item:hover .header-sub-menu {
  opacity: 1;
  pointer-events: auto;
  z-index: 99;
  animation: submenu-appear 0.3s linear;
}

@keyframes submenu-appear {
  0% {
    top: 120%;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}

@keyframes submenu-disappear {
  0% {
    top: 100%;
    opacity: 1;
  }
  100% {
    top: 110%;
    opacity: 0;
  }
}

.header-menu_item:hover {
  color: var(--primary-color);
  transition: all 1s;
}

.header-menu_item--active {
  color: var(--primary-color);
}

.header-sub-menu {
  position: absolute;
  display: block;
  opacity: 0;
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  min-width: 180px;
  min-height: 48px;
  top: 100%;
  left: 0;
  animation: submenu-disappear 0.2s linear;
  pointer-events: none;
}

.header-sub-menu_item {
  height: 48px;
  display: flex;
  align-items: center;
}

.header-sub-menu_item:hover a {
  color: var(--primary-color);
  padding-left: 22px;
  transition: all 1s;
}

.header-sub-menu_item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-sub-menu_item a {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  text-align: center;
}

.header-sub-menu_item--active a {
  padding-left: 22px;
  color: var(--primary-color);
}

.header-nav-icon {
  width: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.header_search-icon {
  cursor: pointer;
}

.header_cart-icon {
  cursor: pointer;
  position: relative;
  padding-right: 4px;
}

.header_cart-icon::before {
  content: "0";
  position: absolute;
  width: 14px;
  height: 18px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 0.75rem;
  border-radius: 50%;
  text-align: center;
  right: -50%;
  top: -50%;
  transform: translate(-50%, 50%);
}

/* Responsive */

@media screen and (max-width: 1200px) {
  .header-navigation-container {
    max-width: 1080px;
    font-size: 0.9rem;
  }
  .header-top .custom-container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 992px) {
  .header-navigation-container {
    max-width: 960px;
    font-size: 0.9rem;
  }

  .header-menu {
    padding-right: 12px;
  }

  .header-social {
    display: none;
  }

  .header-menu li {
    padding: 32px 4px;
  }
}

@media screen and (max-width: 768px) {
  .header-navigation-container {
    max-width: 720px;
  }

  .header-top .custom-container {
    max-width: 100%;
    align-items: center;
    height: 100%;
  }

  .header-navigation .custom-container {
    align-items: center;
    height: 100%;
    position: relative;
  }

  .header-contact ul {
    flex-direction: column;
  }

  .header-menu {
    display: none;
  }

  .header-nav-icon {
    margin-right: 24px;
    min-width: 60px;
  }

  .header-menu-mobile_icon-container {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
  }

  .header-menu-mobile_icon {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 48px;
    height: 48px;
    padding: 8px;
    justify-content: space-around;
    cursor: pointer;
  }

  .header-menu-mobile_icon-item {
    width: 100%;
    border-bottom: 2px solid var(--black-color);
    position: relative;
    transition: all 0.6s linear;
  }

  .header-menu-mobile_icon--close {
    position: absolute;
    justify-content: center;
    align-items: center;
  }

  .header-menu-mobile_icon--close .header-menu-mobile_icon-item:nth-child(1) {
    transform: rotate(45deg);
  }

  .header-menu-mobile_icon--close .header-menu-mobile_icon-item:nth-child(2) {
    opacity: 0;
  }

  .header-menu-mobile_icon--close .header-menu-mobile_icon-item:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 3px;
  }

  .header-mobile-menu-container {
    position: absolute;
    width: 80%;
    padding: 12px 24px;
    display: block;
    right: 24px;
    top: 0;
    opacity: 0;
    background-color: var(--white-color);
    color: var(--dark-blue-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    z-index: -10;
    transition: all 0.4s linear;
    pointer-events: none;
  }

  .header-mobile-menu-container--display {
    top: 96%;
    opacity: 1;
    z-index: 50;
    pointer-events: all;
  }

  .header-mobile-menu {
    width: 100%;
  }

  .header-mobile-menu_item {
    width: 100%;
    padding: 8px 0;
  }

  .header-mobile-menu_item span {
    display: flex;
    justify-content: space-between;
  }

  .header-mobile-menu_item span i {
    cursor: pointer;
    width: 20px;
  }

  .header-mobile-menu_item span a {
    flex: 1;
  }

  .header-mobile-sub-menu {
    padding: 4px 8px;
    display: none;
    z-index: -10;
    transform-origin: top center;
    animation: submenuMobileDisplay 0.3s ease-in-out forwards;
  }

  .header-mobile-sub-menu--display {
    display: block;
    z-index: 10;
  }

  @keyframes submenuMobileDisplay {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(1);
    }
  }

  .header-mobile-sub-menu_item {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
  }

  .header-mobile-sub-menu_item a {
    display: inline-block;
    width: 100%;
  }

  .header-mobile-sub-menu_item:hover a {
    padding-left: 8px;
  }

  .search-modal_search-container {
    width: 80%;
  }
}
