.header {
  
}

/* Header top */

.header-top {
  font-size: 1rem;
  background-color: var(--dark-blue-color);
  color: var(--gray-color);
  padding: 16px 0;
  font-weight: 600;
}

.custom-container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.header-top ul {
  display: flex;
}

.header-contact {
  flex: 1;
}

.header-contact ul li:not(:last-child) {
  margin-right: 20px;
}

.header-top-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header-social {
  display: flex;
}

.header-social ul li {
  padding: 0 8px;
}

.header-social a:hover {
  color: var(--primary-color);
}

.header-login-register {
  color: var(--primary-color);
}

.header-login-register button {
  margin: 0 8px;
  transition: color 0.5s;
}

.header-login-register button:hover {
  color: var(--white-color);
}

/* Header Navigation */

.header-navigation {
  height: 92px;
}

.header-navigation-container {
  align-items: center;
}

.header-logo {
  width: 180px;
  height: 48px;
}

.header-menu-container {
  flex: 1;
}

.header-menu {
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

.header-menu_item {
  text-transform: uppercase;
  font-weight: 500;
  /* min-width: 72px; */
  padding: 32px 16px;
}

.header-menu_item--active {
  color: var(--primary-color);
}

.header-nav-icon {
  width: 72px;
}

.header_search-icon {

}

.header_cart-icon {

}


