.publication-container {
  background-color: #edf0f2;
  padding: 120px 0;
}

.publication {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.publication-introduce {
  display: flex;
  align-items: flex-end;
}

.publication-introduce div {
  flex: 1;
  padding-bottom: 60px;
  
}

.publication-introduce_title {
  font-weight: bold;
}

.publication-introduce_title h5 {
  font-size: 1.25rem;
  position: relative;
  padding-bottom: 8px;
}

.publication-introduce_title h5::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 36px;
  border-bottom: 3px solid var(--primary-color);
}

.publication-introduce_title h2 {
  padding-top: 12px;
  font-size: 3rem;
}

.publication-introduce_products-btn {
  display: flex;
  justify-content: flex-end;
}

.publication-introduce_products-btn a {
  display: inline-block;
  height: 56px;
  width: 180px;
  line-height: 56px;
  background-color: var(--primary-color);
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

.publication-introduce_products-btn a:hover {
  background-color: var(--dark-blue-color);
}

.publication-products {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.publication-products_product-container {
  width: 25%;
  padding: 0 16px;
}

.publication-products_product-wrapper {
  padding: 16px;
  background-color: var(--white-color);
  border-radius: 6px;
}

.publication-products_product {
  width: 100%;
}

.publication-products_product-img {
  width: 100%;
  height: 320px;
  position: relative;
}

.publication-products_product-img:hover .publication-products_product-img-overlay {
  opacity: 1;
}

.publication-products_product-img-overlay {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 41, 77, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
}

.publication-products_product-img-overlay a {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin: 0 6px;
}

.publication-products_product-img-overlay a:hover {
  color: var(--dark-blue-color);
  background-color: var(--primary-color);
}

.publication-products_product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.publication-products_product-content {
  padding-top: 12px;
}

.publication-products_product-detail {
  text-align: center;
  padding-bottom: 12px;
}

.publication-products_product-detail h5 {
  font-weight: 600;
  font-size: 1.25rem;
}

.publication-products_product-detail h5 a {
  transition: all 0.6s linear;
}

.publication-products_product-detail p span {
  color: #505050;
}

.publication-products_product-price-container {
  border-top: 1px solid #eee;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.publication-products_product-price--origin {
  text-decoration: line-through;
}

.publication-products_product-price--sale {
  color: var(--dark-blue-color);
  font-weight: bold;
}

.publication-products_product-buy-btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 12px;
  background-color: var(--primary-color);
  font-weight: bold;
  color: var(--dark-blue-color);
}

.publication-products_product-buy-btn:hover {
  background-color: var(--dark-blue-color);
}


/* slick */

.your-class {
  max-width: 900px;
  height: 400px;
  margin: auto;
  background-color: #ccc;
}

.your-class div {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.your-class div h3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}