.video {
  width: 100%;
  height: 840px;
  background-image: url("../images/video/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 5;
}

.video-modal {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

.video-modal--display {
  display: flex;
  z-index: 50;
}

.video-modal--display .video-overlay {
  opacity: 0.7;
  background-color: #0b0b0b;
}

.video-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
} 

.video-embed {
  position: absolute;
  width: 900px;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.video-embed span {
  position: absolute;
  width: 36px;
  height: 36px;
  transform: translateY(-100%);
  right: 0;
  color: #fff;
  cursor: pointer;
  padding-bottom: 8px;
  padding-right: 8px;
}

.video-embed span i {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.video-embed iframe {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
} 

.video-container {
  max-width: 1200px;
  height: 100%;
  display: flex;
  margin: auto;
}

.video-button {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 80px;
  cursor: pointer;
}

.video-button span {
  width: 120px;
  height: 120px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.video-feature {
  flex: 1;
  color: var(--white-color);
  z-index: 1;
  padding-top: 120px;
}

.video-feature_title {
  font-size: 2.25rem;
  font-weight: bold;
  padding-left: 120px;
}

.video-feature_facilities {
  padding-left: 120px;
  
}

.video-feature_facilities li {
  padding-top: 56px;
  display: flex;
}

.video-feature_facilities-img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  margin-right: 32px;
}

.video-feature_facilities-content {
  
}

.video-feature_facilities-content h4 {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 16px;
}

.video-feature_bg {
  background-color: var(--dark-blue-color);
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
